<html>
  <head>
    <title>OpenCellID towers analysis</title>
  </head>

  <body style="background-image: url(https://i1.wp.com/static.web-backgrounds.net/uploads/2012/08/City_Landscape_Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div style="display: flex">
      <img src="https://e7.pngegg.com/pngimages/147/102/png-clipart-cellular-network-computer-icons-cell-site-iphone-electronics-logo.png" alt="" style = "height: 120px; width: 120px; margin: 15px; border-radius: 50%;">
      <p style="margin: 50px; font-size: 50px;">OpenCellID Towers analysis</p>
    </div>
    <div style="width: 100%">
      <div style="width: 30%">
        <input matInput type="double" [(ngModel)]="longitude" style="margin-left: 5%;"><br><br>
        <input matInput type="double" [(ngModel)]="lattitude" style="margin-left: 5%;"><br><br>
        <button (click)="action()" style="margin-left: 5%">Request</button>
      </div>
      <mat-grid-list cols="2" rowHeight="10:1" style="margin-left: 10%; text-align: start; width: 40%;">
        <mat-grid-tile style="width: 40%; margin: 20%; font-size: 20px; height: 30%;">GSM</mat-grid-tile>
        <mat-grid-tile style="margin-left: -0; width: 40%; margin: 20%; font-size: 20px; height: 30%;">{{GSM_return}}</mat-grid-tile>
        <mat-grid-tile style="width: 40%; margin: 20%; font-size: 30px; height: 45%;">UMTS</mat-grid-tile>
        <mat-grid-tile style="margin-left: -0; width: 40%; margin: 20%; font-size: 30px; height: 45%;">{{UMTS_return}}</mat-grid-tile>
        <mat-grid-tile style="width: 40%; margin: 20%; font-size: 40px; height: 70%;">CDMA</mat-grid-tile>
        <mat-grid-tile style="margin-left: -0; width: 40%; margin: 20%; font-size: 40px; height: 70%;">{{CDMA_return}}</mat-grid-tile>
        <mat-grid-tile style="width: 40%; margin: 20%; font-size: 50px; height: 100%;">LTE</mat-grid-tile>
        <mat-grid-tile style="margin-left: -0; width: 40%; margin: 20%; font-size: 50px; height: 100%;">{{LTE_return}}</mat-grid-tile>
      </mat-grid-list>
    </div>
  </body>